@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import "assets/css/navbar.css";
@import "assets/css/home.css";
@import "assets/css/userDetails.css";

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #FAFAFA;
}