@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px) rotate(-2deg); }
    50% { transform: translateX(2px) rotate(2deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}

.users {
    background: #FAFAFA;
    margin: 20px 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    flex-direction: row;
}

.userCard {
    width: calc(33.33% - 40px);
    max-width: 300px;
    height: 450px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0;
    margin: 20px;
    box-shadow: rgba(145, 145, 145, 0.73) 10px 15px 15px -10px;
    font: 300 16px "Ubuntu";
    line-height: 35px;
}
.userCard:hover {
    box-shadow: rgba(145, 145, 145, 0.73) 0px 2px 35px 10px;
    background: #fafafa;
    animation: shake 0.5s ease-in-out;

}

.userImg {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nameDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    font: 500 22px "Ubuntu";
    cursor: pointer;

}
